@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

:root {
  @apply bg-primary

  /* --primary: #557a95
  --secondary: #7395ae */;
}

:root,
body,
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  scroll-behavior: smooth;
}

#root {
  background-color: var(--primary);
  color: #fff;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #7395ae;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #557a97;
}

.quill {
  background-color: var(--secondary);
}

.forgot-link:hover {
  text-decoration-style: solid;
}

.ql-editor.ql-blank::before {
  color: var(--primary);
  font-weight: bold;
  height: 200px;
}

.ql-container.ql-snow {
  min-height: 200px;
}

.hide {
  overflow: hidden;
}
