<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summer Blog Reset password</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #fafafafa;
        color: #557a95;
      }
      a {
        color: #000;
        text-decoration: none;
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 24px;
      }
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }

      .email-header {
        background-color: #557a95;
        padding: 14px;
        color: #ffffff;
      }

      .email-body {
        padding: 24px;
        background-color: #ffffff;
      }
      .email-footer {
        background-color: #7395ae;
        margin: auto;
        padding: 24px;
      }

      .btn {
        display: inline-block;
        background-color: #557a95;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        padding: 12px 24px;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header"><h1>Welcom to Summer Blog</h1></div>
      <div class="email-body">
        <p>Hello <%= response.name %></p>
        <p>Please click the following link:</p>
        <p><a href="<%= resetLink %>">Click here</a></p>
        <p>This link will expire in 15 minutes</p>
      </div>
      <div class="email-footer">
        <a href="https://summer-blog.onrender.com">Summer blog</a>
      </div>
    </div>
  </body>
</html>
